# -----------------------------
# Python 缓存
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Cython 编译生成的文件
*.so

# pip 缓存、虚拟环境
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Python 虚拟环境（根据你的命名调整）
venv/
env/
.env/
.dp_sim/
*.venv/

# pipenv
Pipfile.lock

# poetry
poetry.lock
__pypackages__/

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# -----------------------------
# VSCode
# -----------------------------
.vscode/
*.code-workspace

# -----------------------------
# PyCharm
# -----------------------------
.idea/
*.iml
*.iws
out/

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# -----------------------------
# 系统文件
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# 日志文件
# -----------------------------
*.log

# -----------------------------
# 数据文件（可选，根据项目）
# -----------------------------
# *.csv
# *.h5
# *.npy
# data/
